<template>
  <div class="home">
    <div class="wrapper">
      <v-wait for="boards">
        <div
          slot="waiting"
          class="loader animated fadeIn">
          <div class="coffee-cup" />
          <p>Loading your boards...</p>
        </div>
        <div
          v-for="board in boards"
          :key="board.title"
          class="animated fadeIn fast">

          <div class="section">
            <Gantt :rows="board.rows" />
          </div>

          <div class="section">
            <Table
              :name="board.title"
              :rows="board.rows" />
          </div>
        </div>
      </v-wait>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { mapWaitingActions } from 'vue-wait'

import Gantt from '@/components/Gantt'
import Table from '@/components/Table'

export default {
  name: 'Home',
  components: {
    Gantt,
    Table
  },
  computed: {
    ...mapState(['boards'])
  },
  async created() {
    if (!this.boards.length) await this.fetchBoards()
  },
  methods: {
    ...mapWaitingActions({
      fetchBoards: 'boards'
    })
  }
}
</script>
