<template>
  <div class="gantt">
    <div class="gantt__row gantt__row--months">
      <div class="gantt__row-first" />
      <span
        v-for="month in 12"
        :key="month">
        {{ month | monthShort }}
      </span>
    </div>

    <div class="gantt__row gantt__row--lines">
      <span />
      <span
        v-for="month in 12"
        :key="month"
        :class="{ marker: month === currentMonth }"/>
    </div>

    <div
      class="gantt__row"
      v-for="(row, i) in groupedRows"
      :key="i">
      <div class="gantt__row-first">
        {{ row.title }}
      </div>
      <ul class="gantt__row-bars">
        <li
          v-for="(item, j) in row.items"
          :key="j"
          :style="{
            'grid-column': `${item.start}/${item.end}`,
            'background-color': `var(--pallete-${j % 8}, var(--default-color))`
          }">
          {{ item.title || '' }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import groupBy from 'lodash/groupBy'
import format from 'date-fns/format'
import setMonth from 'date-fns/set_month'

const today = new Date()

export default {
  name: 'Gantt',
  filters: {
    monthShort(month) {
      return format(setMonth(today, month - 1), 'MMM')
    }
  },
  props: {
    rows: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      groupByKey: 'person',
      groupByMap: {
        person: 'Unassigned'
      },
      currentMonth: today.getMonth() + 1
    }
  },
  computed: {
    groupedRows() {
      const grouped = groupBy(this.rows, this.groupByKey)
      const rows = Object.entries(grouped)
        .filter(([title]) => title !== 'null')
        .map(([title, items]) => ({ title, items }))
        .sort((a, b) => a.title > b.title)

      if (grouped['null'] && grouped['null'].length)
        rows.push({
          title: this.groupByMap[this.groupByKey],
          items: grouped['null']
        })
      return rows
    }
  }
}
</script>

<style lang="scss">
.gantt {
  display: grid;
  border: 0;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 75px 125px -57px $slate;

  &__row {
    display: grid;
    grid-template-columns: 150px 1fr;
    background-color: $white;
    &:nth-child(odd) {
      background-color: $light;
      .gantt__row-first {
        background-color: $light;
      }
    }
    &:nth-child(3) {
      .gantt__row-bars {
        border-top: 0;
      }
      .gantt__row-first {
        border-top: 0;
      }
    }
    &--empty {
      background-color: lighten($red, 25%) !important;
      z-index: 1;
      .gantt__row-first {
        border-width: 1px 1px 0 0;
      }
    }
    &--lines {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: transparent;
      grid-template-columns: 150px repeat(12, 1fr);
      span {
        display: block;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        &.marker {
          background-color: rgba(10, 52, 68, 0.13);
          z-index: 2;
        }
      }
      &:after {
        grid-row: 1;
        grid-column: 0;
        background-color: #1688b345;
        z-index: 2;
        height: 100%;
      }
    }
    &--months {
      color: #fff;
      background-color: $blue !important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      grid-template-columns: 150px repeat(12, 1fr);
      .gantt__row-first {
        border-top: 0 !important;
        background-color: $blue !important;
      }
      span {
        text-align: center;
        font-size: 13px;
        align-self: center;
        font-weight: bold;
        padding: 20px 0;
      }
    }
    &-first {
      background-color: #fff;
      border-width: 1px 0 0 0;
      border-color: rgba(0, 0, 0, 0.1);
      border-style: solid;
      padding: 15px 0;
      font-size: 13px;
      font-weight: bold;
      text-align: center;
    }
    &-bars {
      list-style: none;
      display: grid;
      padding: 9px 0;
      margin: 0;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 8px 0;
      border-top: 1px solid rgba(221, 221, 221, 0.8);
      li {
        font-weight: 500;
        text-align: left;
        font-size: 14px;
        min-height: 15px;
        background-color: $green;
        padding: 5px 12px;
        color: $white;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        border-radius: 20px;

        &.stripes {
          background-image: repeating-linear-gradient(
            45deg,
            transparent,
            transparent 5px,
            rgba(255, 255, 255, 0.1) 5px,
            rgba(255, 255, 255, 0.1) 12px
          );
        }

        &:before,
        &:after {
          content: '';
          height: 100%;
          top: 0;
          z-index: 4;
          position: absolute;
          background-color: rgba(0, 0, 0, 0.3);
        }
        &:before {
          left: 0;
        }
        &:after {
          right: 0;
        }
      }
    }
  }
}
</style>
