<template>
  <div class="table">
    <div class="table__header">
      <div class="table__title">{{ name }}</div>
      <div>Person</div>
      <div>Start</div>
      <div>End</div>
    </div>

    <div
      class="table__row"
      v-for="(row, i) in rows"
      :key="i">
      <div>{{ row.title }}</div>
      <div>{{ row.person }}</div>
      <div>{{ row.start }}</div>
      <div>{{ row.end }}</div>
    </div>


    <!-- New row -->
    <div class="table__row table__row--new">
      <input
        v-model="newRowTitle"
        @keyup.enter="createNewRow"
        placeholder="+ Create a New Row">
    </div>
  </div>

</template>

<script>
export default {
  name: 'Table',
  props: {
    name: {
      type: String,
      default: 'Board'
    },
    rows: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      newRowTitle: ''
    }
  },
  methods: {
    createNewRow() {
      const payload = {
        title: this.newRowTitle
      }
      this.$store.dispatch('addRow', payload)
    }
  }
}
</script>

<style lang="scss">
.table__header,
.table__row {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr 150px 150px 150px;
  margin: 0 0 3px;
  text-align: center;

  :first-child {
    text-align: left;
  }
}

.table__header {
  display: grid;
  align-items: end;
}

.table__row {
  font-size: 0.825rem;

  * {
    padding: 0.75rem;
    background-color: $white;
  }
}

.table__row--new {
  input {
    grid-column: 1 / -1;
    border: 0;
    appearance: none;
    outline: none;
    font-size: 0.825rem;

    &::placeholder {
      color: $slate;
    }
  }
}

.table__title {
  font-size: 1.25rem;
  font-weight: 500;
}
</style>
