/* Loader base */
.loader {
  margin: 25vh auto 0;
  width: 300px;
  text-align: center;
}

/* Coffee cup ☕ */
.coffee-cup {
  width: 20px;
  height: 24px;
  border: 1px $black solid;
  border-radius: 0px 0px 5px 5px;
  position: relative;
  margin: 36px auto;
}
.coffee-cup:after,
.coffee-cup:before {
  position: absolute;
  content: '';
}
.coffee-cup:after {
  width: 5px;
  height: 12px;
  border: 1px $black solid;
  border-left: none;
  border-radius: 0px 20px 20px 0px;
  left: 20px;
}
.coffee-cup:before {
  width: 1px;
  height: 6px;
  background-color: $black;
  top: -10px;
  left: 4px;
  box-shadow: 5px 0px 0px 0px $black, 5px -5px 0px 0px $black,
    10px 0px 0px 0px $black;
  -webkit-animation: steam 1s linear infinite alternate;
  -moz-animation: steam 1s linear infinite alternate;
  animation: steam 1s linear infinite alternate;
}

@-webkit-keyframes steam {
  0% {
    height: 0px;
  }
  100% {
    height: 6px;
  }
}
@-moz-keyframes steam {
  0% {
    height: 0px;
  }
  100% {
    height: 6px;
  }
}
@keyframes steam {
  0% {
    height: 0px;
  }
  100% {
    height: 6px;
  }
}
