$white: #ffffff;
$light: #f5f5f5;
$pale: #cddade;
$slate: #7e8f94;
$blue: #1e394d;
$green: #55de84;
$red: #ff6252;
$black: #202125;

// Pallete
:root {
  --pallete-0: #5292ff;
  --pallete-1: #71cddc;
  --pallete-2: #33bd6e;
  --pallete-3: #95d13b;
  --pallete-4: #ffb000;
  --pallete-5: #fe8300;
  --pallete-6: #ff509e;
  --pallete-7: #9b82f3;

  --default-color: #5292ff;
}
