@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600');

@import './animations';
@import './loaders';

body,
html {
  font-family: 'IBM Plex Sans', 'Helvetica', sans-serif;
  background-color: $pale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  color: $black;
  margin: 0 0 3rem;

  .title {
    font-weight: 600;
  }

  .content {
    font-weight: 300;
  }
}

.wrapper {
  max-width: 1200px;
  min-width: 700px;
  margin: 0 auto;
  padding: 3rem;
}

.section {
  &:not(:last-child) {
    margin: 0 0 5rem;
  }
}
